<div>
  <img src="./assets/hotel_cover.jpg" alt="" class="img-fluid" />
</div>
<div class="container">
  <div class="row p-3">
    <h3 class="mx-auto">Our Hotels</h3>
  </div>
  <div class="row">
    <p class="text-center">
      Cake lemon drops pastry chocolate cake topping cupcake jelly-o. Apple pie
      cotton candy toffee wafer dragée caramels sesame snaps caramels. Ice cream
      tart croissant pie sweet. Halvah dragée cotton candy. Danish brownie
      cotton candy sugar plum macaroon soufflé. Bear claw cake soufflé. Cake
      bear claw lemon drops caramels dessert dragée muffin chupa chups. Brownie
      dessert cake bear claw sesame snaps donut cotton candy pudding sweet.
      Cookie dragée lemon drops chupa chups pudding ice cream. Topping jelly-o
      cake. Bear claw jelly-o dragée cookie.
    </p>
  </div>
  <div>
    <img src="./assets/hotel_cover2.jpg" alt="" class="img-fluid" />
  </div>
  <div class="row">
    <p class="text-center">
      Chocolate bar candy bonbon ice cream lemon drops. Danish icing toffee
      lollipop brownie gingerbread macaroon dragée. Danish icing halvah. Chupa
      chups sesame snaps dragée brownie macaroon. Pastry toffee jelly
      marshmallow soufflé. Candy gummies sesame snaps. Lemon drops chupa chups
      pudding chocolate bar. Jujubes lemon drops candy canes. Icing bonbon
      tootsie roll macaroon cotton candy. Macaroon toffee marshmallow icing oat
      cake. Croissant gummies halvah lemon drops fruitcake jelly-o gummies
      cookie. Fruitcake icing pudding cotton candy lemon drops. Chocolate cake
      pastry cheesecake bear claw croissant cake oat cake tart. Fruitcake tart
      soufflé chupa chups.
    </p>
  </div>
</div>
