<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="./">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="./booking">Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./hotels">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./contactus">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
