<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <h2 class="text-danger">This is a mock site no data is stored</h2>
    Enter your order information
    <div class="row">
      <label>Name: <input type="text" disabled /></label>
      <label>Address: <input type="text" disabled /></label>
      <label>City: <input type="text" disabled /></label>
      <label>Email: <input type="email" disabled /></label>
    </div>
  </div>
</div>
