<div class="container py-4">
  <ngb-alert
    *ngIf="alertSuccess"
    class="animate-show animate-hide"
    [type]="'success'"
    (close)="alertSuccess = false"
    ><strong>Message sendt!</strong></ngb-alert
  >
  <div class="row">
    <div class="card mx-auto w-75 shadow">
      <div class="card-body">
        <p class="text-center">Please contact us in the form below</p>
        <form>
          <div class="mx-auto">
            <label
              >Name: <br />
              <input
                class="border border-dark"
                type="text"
                name="name"
                [(ngModel)]="model.name" /></label
            ><br />
            <label
              >Email: <br />
              <input
                class="border border-dark"
                type="email"
                name="email"
                [(ngModel)]="model.email" /></label
            ><br />
            <label
              >Message: <br />
              <input
                class="border border-dark"
                type="text-area"
                name="message"
                [(ngModel)]="model.message" /></label
            ><br />
          </div>
          <button class="btn btn-primary text-center" (click)="submit()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
