<div>
  <img src="./assets/home_cover2.jpg" alt="" class="img-fluid" />
</div>
<h4 class="text-danger text-center">This is mock site</h4>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center">Welcome</h2>
      <p class="text-center">Start your next adventure today!</p>
      <div class="row">
        <p>
          Please note that this example site lets you download an app as well!
        </p>
      </div>
    </div>
  </div>
</div>
