<div>
  <img src="./assets/home_cover.jpg" alt="" class="img-fluid" />
</div>
<div class="container pb-3">
  <!--Hide if receivedHotelBooking is true-->
  <div [hidden]="receivedHotelBooking">
    <div class="row">
      <h4 class="text-center mx-auto">Start your adventure now</h4>
    </div>
    <form #f="ngForm">
      <div ngModelGroup="name" #nameCtrl="ngModelGroup">
        <div class="row">
          <div class="col">
            <b>Greece</b> <br /><input
              type="image"
              src="./assets/img_botton/greece.jpg"
              value="greece"
              (click)="selectCountryItem('Greece')"
              class="img-thumbnail rounded"
            />
          </div>
          <div class="col">
            <b>Italy</b><br /><input
              type="image"
              src="./assets/img_botton/italy.jpg"
              value="italy"
              (click)="selectCountryItem('Italy')"
              class="img-thumbnail rounded"
            />
          </div>
          <div class="col">
            <b>Spain</b><br /><input
              type="image"
              src="./assets/img_botton/spain.jpg"
              value="spain"
              (click)="selectCountryItem('Spain')"
              class="img-thumbnail rounded"
            />
          </div>
        </div>
        <!--
          <div class="row">
            <div class="mx-auto">
              <label>Select the destination for your adventure
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model.country" (selectItem)="selectedItem($event)" name="country"[ngbTypeahead]="destinationSearch"/>
              </label>
            </div>
          </div>
        -->
        <div class="row" [hidden]="!selectCity">
          <div class="mx-auto">
            <label
              >Select city
              <ng-multiselect-dropdown
                name="city"
                [settings]="dropdownSettings"
                [data]="viewAirports"
                [(ngModel)]="model.airport"
                (onSelect)="onItemSelect($event)"
              >
              </ng-multiselect-dropdown>
            </label>
          </div>
        </div>
        <div class="row" [hidden]="!selectHotel">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hotel of hotelsFilteredByCity">
                  <td>{{ hotel.HotelName }}</td>
                  <td>{{ hotel.Description }}</td>
                  <td>
                    {{ hotel.Address.StreetAddress }} <br />
                    {{ hotel.Address.PostalCode }} {{ hotel.Address.City }}
                    <br />
                    {{ hotel.Address.Country }}
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" (click)="open(hotel)">
                      Info
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!--When a booking is recived-->

  <div *ngIf="receivedHotelBooking != undefined">
    <div class="row">
      <h3 class="mx-auto">Please check your order before proceding</h3>
    </div>
    <div class="row">
      <u><b>Travel Information</b></u>
    </div>

    <div class="row">
      <p>
        You are travling to {{ receivedHotelBooking.address.City }},
        {{ receivedHotelBooking.address.Country }} via
        {{ receivedHotelBooking.airport }}
      </p>
    </div>
    <hr />
    <div class="row">
      <u><b>Hotel:</b></u>
    </div>
    <div class="row">
      <b>{{ receivedHotelBooking.hotelName }}</b>
    </div>
    <div class="row">
      {{ receivedHotelBooking.address.StreetAddress }}
    </div>
    <div class="row">
      {{ receivedHotelBooking.address.PostalCode }}
      {{ receivedHotelBooking.address.City }}
    </div>
    <div class="row">
      {{ receivedHotelBooking.address.Country }}
    </div>
    <hr />
    <div class="row">
      <u><b>Room:</b></u>
    </div>
    <div class="row">
      {{ receivedHotelBooking.hotelRoom.Description }}
    </div>
    <div class="row">
      Bed Option: {{ receivedHotelBooking.hotelRoom.BedOptions }}
    </div>
    <div class="row">
      Price: {{ receivedHotelBooking.hotelRoom.BaseRate }} Type:
      {{ receivedHotelBooking.hotelRoom.Type }}
    </div>
    <div class="row pt-2">
      <button
        class="btn btn-primary mx-auto"
        (click)="openPlaceOrder(receivedHotelBooking)"
      >
        Order Now
      </button>
    </div>
  </div>
</div>
