<div class="modal-header">
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <p class="mx-auto">Rooms</p>
    <div class="table-responsive">
      <table class="table" style="font-size: 12px">
        <thead>
          <tr>
            <th>Description</th>
            <th>BaseRate</th>
            <th>BedOptions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of hotel.hotelObj.Rooms">
            <td>{{ room.Description }}</td>
            <td>{{ room.BaseRate }}</td>
            <td>{{ room.BedOptions }}</td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="bookHotel(room)"
                (click)="activeModal.dismiss('Cross click')"
              >
                Book
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
